<!--
  Generated template for the NotePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
    <ion-item class="top-item">
        <p>{{title}}</p>
    </ion-item>
    <ion-list class="item-list">
        <ng-container *ngFor="let item of items; let i = index">
            <ion-item-sliding>
                <ion-item [ngClass]="openItemNum == i ? 'item_edit' : ''">
                    <button ion-button ion-only item-start class="close_btn" mode="ios" color="primary" *ngIf="openItemNum == i" (click)="completeItemEdit()"><ion-icon name="md-close"></ion-icon></button>
                    <p [ngClass]="(item.mentions || item.toppings.length > 0) ? 'added' : ''" float-left (click)="openItem(i)" [ngClass]="item == 5 ? 'added' : ''">{{item.name}}</p>
                    <p float-right>{{item.price}} {{currency}}</p>
                    <button class="ctrl-cont" float-right>
                        <button ion-button color="primary" mode="ios" icon-only float-left><ion-icon name="md-remove"></ion-icon></button>
                        x{{item.qty}}
                        <button ion-button color="primary" mode="ios" icon-only float-right><ion-icon name="md-add"></ion-icon></button>
                    </button>
                </ion-item>
            </ion-item-sliding>

            <ng-container *ngIf="openItemNum == i">
                <ion-item class="item_edit">
                    <div class="edit_filds">
                        <p *ngFor="let topping of item.toppings">
                            <span *ngIf="topping">{{topping.name}}:{{topping.price}} {{currency}}&nbsp; &nbsp;</span>
                        </p>
                        <p>{{'LABELS.MENTIONS' | translate}}: {{item.mentions}}&nbsp; &nbsp;</p>
                    </div>
                </ion-item>
            </ng-container>
        </ng-container>
    </ion-list>
    <ion-item class="bottom-item">
        <h1>{{'LABELS.TOTAL' | translate}} : {{getAmount()}} {{currency}}</h1>
        <button mode="ios" ion-button color="primary" (click)="closeModal()">{{'ACTIONS.CLOSE' | translate}}</button>
    </ion-item>
</ion-content>