resetPassword{


  .scroll-content{
    background-image: url('../assets/imgs/login-page-background.png');
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    height:100vh;
    overflow:hidden;
  }


  h1[margined] {
    margin-top: 3rem!important;
    margin-bottom: 2rem!important;
  }

  @media only screen and (max-width: 320px) {
    div[margined]{
        margin-left: 40px !important;
        margin-right: 40px !important;
    }
    h1[margined]{
      font-size: 23px;
    }
    h5{
      font-size: 17px !important;
    }
    ion-label{
      font-size: 12px !important;
  }
    .login-button{
        height: 35px !important;
        font-size: 16px;
    }
    .btn{
      font-size: 16px;
    }
}
@media only screen and (height: 812px)  {
  h1[margined]{
    margin-top: 10rem !important;
  }
  .login-button{
      margin-top: 3rem !important; 
      height: 35px !important;
      font-size: 16px;
  }
}

  .button{
    margin-top:2rem;
  }
  .btn{
    position:absolute;

  }
}
