

<ion-content [style.background-position]="'0 ' + shouldTop">

  <button ion-button icon-only class="btn" (click)="resetPassword()" clear><ion-icon name="arrow-back" color="primary"></ion-icon></button>

  <h1 text-center margined>{{ 'NEW_PASSWORD'| translate }}</h1>

  <br/>
  <div margined>
    <form [formGroup]="newPassword" (submit)="doForgetPass()">
      <div class="passwordHolder">
        <ion-item>
          <ion-label stacked>{{ 'NEW_PASSWORD'| translate }}</ion-label>
          <ion-input *ngIf="!EyeShown" formControlName="password" type="password" placeholder="*******" required></ion-input>
          <ion-input *ngIf="EyeShown" type="text" formControlName="password" placeholder="*******" required></ion-input>
        </ion-item>
        <button icon-only ion-button clear class="passwordEye" type="button"  (click)="EyeShown=!EyeShown"><ion-icon name="ios-eye"></ion-icon></button>
      </div>
      <div class="passwordHolder">
        <ion-item>
          <ion-label stacked>{{ 'CONFIRM_PASSWORD' | translate }}</ion-label>
          <ion-input *ngIf="!EyeShown1" formControlName="password2" type="password" placeholder="*******" required></ion-input>
          <ion-input *ngIf="EyeShown1" type="text" formControlName="password2" placeholder="*******" required></ion-input>
        </ion-item>
        <button icon-only ion-button clear class="passwordEye" type="button"  (click)="EyeShown1=!EyeShown1"><ion-icon name="ios-eye"></ion-icon></button>
      </div>

      <button ion-button round full pink-gradient class="login-button" [disabled]="!newPassword.valid || newPassword.controls['password'].value!=newPassword.controls['password2'].value">{{ 'PROCEED' |translate }}</button>
    </form>


  </div>
</ion-content>
