newPassword{


  .scroll-content{
    background-image: url('../assets/imgs/login-page-background.png');
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    height:100vh;
  }


  h1[margined] {
    margin-top: 3rem!important;
    margin-bottom: 2rem!important;
  }

  .button{
    margin-top:2rem;
  }

  .passwordHolder{
    position:relative;
    .passwordEye{
      position:absolute;
      right:-1.2rem;
      bottom:0px;
      font-size:1.5rem;
    }
  }
  .btn{
    position:absolute;

  }
}
