phoneComponent {
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:active,
    input:-webkit-autofill:focus {
        background-color: #FFFFFF !important;
        color: #555 !important;
        -webkit-box-shadow: 0 0 0px 1000px white inset !important;
        -webkit-text-fill-color: #555555 !important;
    }
    input:-internal-autofill-selected {
        background-color: #FFFFFF !important;
    }
    .inputNumber {
        padding-top: 1rem;
        position: relative;
        display: none;
        visibility: hidden;
        .contentMain {
            // .item-inner {
            //   border-bottom: 1px solid #848181;
            // }
            .item.item-block .item-inner {
                border-bottom: 1px solid #ada6a6;
            }
            .item.item-input .item-inner {
                border-bottom: 1px solid #ada6a6;
            }
            .item.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
                border-bottom-color: #ada6a6;
                // -webkit-box-shadow: inset 0 0px 0 0 #848181;
                // box-shadow: inset 0 0px 0 0 #848181;
            }
            .item.item-input.item-input-has-focus .item-inner,
            .item.item-input.input-has-focus .item-inner {
                border-bottom-color: #fe5295;
                // -webkit-box-shadow: inset 0 -1px 0 0 #fe5295;
                // box-shadow: inset 0 -1px 0 0 #fe5295;
            }
            .input-wrapper {
                display: block;
                flex: none;
                ion-label {
                    font-size: 1.4rem;
                }
            }
            .item {
                min-height: 3rem;
                ion-input {
                    padding: 0;
                }
            }
            .short {
                max-width: 20%;
                width: auto;
                display: inline-block;
                input {
                    max-width: 100%;
                }
            }
            .long {
                max-width: 77%;
                width: 100%;
                display: inline-block;
                margin: 0;
            }
        }
        &.active {
            display: block;
            visibility: visible;
        }
    }
    .searchResult {
        margin: 0.2rem 0rem;
        width: 100%;
        padding-top: 1rem;
        overflow-y: scroll;
        overflow-x: hidden;
        position: absolute;
        max-height: 200px;
        background: map_get($colors, light);
        @include border-radius(5px);
        z-index: 400;
        .item {
            min-height: 3.5rem;
            .input-wrapper {
                margin: 0;
                padding: 0;
                ion-label {
                    margin: 0;
                    padding: 0;
                }
            }
            padding: 0 2rem;
            font-family: $font-family-base;
            font-weight: 500;
            cursor: pointer;
            color: map_get($colors, primary);
            font-size: 1.3rem;
            &.active {
                -webkit-transition: all 1s;
                -moz-transition: all 1s;
                -ms-transition: all 1s;
                -o-transition: all 1s;
                transition: all 1s;
            }
        }
    }
}

.test-modal {
    .modal-wrapper {
        ion-navbar {
            padding-left: 15px !important;
        }
        ion-content {
            div.scroll-content {
                padding-left: 22px !important;
                padding-right: 23px !important;
            }
        }
    }
}